<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/material.css">
    <title>Document</title>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand navfont" href="#">Helping Hands</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navspace">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="/scholarship">Scholarship</a>
              <a class="nav-link" href="/facultytimetable">Faculty Timetable</a>
              <a class="nav-link active" href="/material">Material</a>
            </div>
            <div>
              <a class="nav-link" href="/contact">
                <button type="button" class="btn btn-warning">Contact Us</button>
            </a>
          </div>
        </div>
      </nav>

      <div class="container" style="z-index: 900; " >  
        <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-lg-4 col-md-6">
          <div class="card">
           <img src="https://tse4.mm.bing.net/th?id=OIP.253iC5Nw1RghMjiaqWe_WgHaHa&pid=Api&P=0" class="card-img-top" alt="...">
            <div class="card-body">
             <h5 class="card-title">MA253</h5>
            </div>
          </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div  class="card" style="text-align: center;">
              <img src="https://tse4.mm.bing.net/th?id=OIP.253iC5Nw1RghMjiaqWe_WgHaHa&pid=Api&P=0" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">CE244</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <a href="https://drive.google.com/drive/folders/1vgbJP5lHeYzpG3XjLiyzaOWFmuAfccmt" style="text-decoration: none; color:black;">
            <div  class="card" style="text-align: center;">
              <img src="https://tse4.mm.bing.net/th?id=OIP.253iC5Nw1RghMjiaqWe_WgHaHa&pid=Api&P=0" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">CE251</h5>
              </div>
            </div>
            </a>
          </div>
    
        <div class="col-lg-4 col-md-6">
          <div class="card" >
            <img src="https://tse4.mm.bing.net/th?id=OIP.253iC5Nw1RghMjiaqWe_WgHaHa&pid=Api&P=0" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CE252</h5>
          </div>
      </div>
        </div>
  
        <div class="col-lg-4 col-md-6">
            <a href="https://drive.google.com/drive/folders/1kzlflb4ODsW0bPBL86NQw0GmtKe6opCa" style="text-decoration: none; color:black;">
          <div  class="card" style="text-align: center;">
            <img src="https://tse4.mm.bing.net/th?id=OIP.253iC5Nw1RghMjiaqWe_WgHaHa&pid=Api&P=0" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">CE257</h5>
            </div>
          </div>
          </a>
        </div>

          <div class="col-lg-4 col-md-6">
            <div  class="card" style="text-align: center;">
              <img src="https://tse4.mm.bing.net/th?id=OIP.253iC5Nw1RghMjiaqWe_WgHaHa&pid=Api&P=0" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">HS121.02A</h5>
              </div>
            </div>
          </div>
        </div>
        </div>

    </header>
</body>
</html>